 HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main/
!/src/test/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
'.idea'
'*.mvn'
app-edu-server/.mvn
app-edu-server/mvnw
app-edu-server/mvnw.cmd
app-edu-server/target
app-edu-server/web
app-edu-server/app-edu-server.iml
node_modules/**.idea
